<!doctype html>
<html>
    <head>
        {{> html_head}}
    </head>
    <body class="theme-dark1">
        {{> header active="universes"}}

        <div id="content"></div>

        {{> footer}}

        <script>
            const vm = new Vue({
                el: "#content",
                template: `<universeNewContent
                                :langStrings="{
                                    create: '{{lang_strings.create}}',
                                    language: '{{lang_strings.language}}',
                                    name: '{{lang_strings.name}}',
                                    universeNew: '{{lang_strings.universe_new}}',
                                }"
                                :langOptions="[
                                    ['langValue1', 'Lang1'], ['blargValue', 'Blarg'],
                                    ['langValue2', 'Lang2'], ['blargValue', 'Blarg'],
                                    ['langValue3', 'Lang3'], ['blargValue', 'Blarg'],
                                    ['langValue4', 'Lang4'], ['blargValue', 'Blarg'],
                                    ['langValue5', 'Lang5'], ['blargValue', 'Blarg'],
                                    ['langValue6', 'Lang6'], ['blargValue', 'Blarg'],
                                    {{#each langs}}
                                        {{!-- [this, {{lookup lang_strings this}}], --}}
                                    {{/each}}
                                ]"/>`,
            });
        </script>
    </body>
</html>
